<div style="height: 150px; color: #ccc; text-align: center;"><h1 style="line-height: 150px;">HitMeUp!</h1></div>
<div id="friends"></div>

<button type="button" class="btn btn-success btn-block first-page-btn" style="margin-top: 1em;">

<div style="float: left; height: 100%;"><i class='icon-calendar' style="height: 100%; display: inline-block; margin: 10px 20px; font-size: 60px;"></i></div><div><h3>Going Somewhere?</h3><strong>Tell your friends your coming!</strong></div></button>

<br />

<button type="button" class="btn btn-primary btn-block first-page-btn current-locale" style="margin-top: 1em;">
<div style="float: left; height: 100%;"><i class='icon-map-marker' style="height: 100%; display: inline-block; margin: 10px 20px; font-size: 60px;"></i></div><div><h3>Already There?</h3><strong>See who you know in <span class='city-name'></span>!</strong></div></button>

