<div style="height: 150px; color: #ccc; text-align: center; opacity: 0.75;"><img src="img/logo.png" /></div>

<div class="success-page" style="margin-top: -300px; display: none;">
<h2>All done! Enjoy your trip!</h2>
</div>

<div id="message">
<textarea class='message' style='margin: 10%; width: 80%; height: 100px; display: none;'></textarea> 
<button type="button" class="btn btn-primary btn-block send-messages" style="margin-top: 1em; display: none;">
<div ><h3>Send messages!</h3></div></button>
</div>

<div id="friends"><div id="friends-listing"></div>

<button type="button" class="btn btn-primary btn-block continue-on" style="margin-top: 1em; display: none;">
<div><h3>Continue On...</h3><strong>Personalize your message!</strong></div></button>
</div>

<button type="button" class="btn btn-success btn-block first-page-btn" style="width: 96%; margin: 1em 2%;">

<div style="float: left; height: 100%;"><i class='icon-calendar' style="height: 100%; display: inline-block; margin: 10px; font-size: 30px;"></i></div><div><h3>Going Somewhere?</h3><strong>Tell your friends your coming!</strong></div></button>

<br />

<button type="button" class="btn btn-primary btn-block first-page-btn current-locale" style="width: 96%; margin: 1em 2%;">
<div style="float: left; height: 100%;"><i class='icon-map-marker' style="height: 100%; display: inline-block; margin: 10px; font-size: 30px;"></i></div><div><h3>Already There?</h3><strong>See who you know in <span class='city-name' style="color: #ffffbb;"></span>!</strong></div></button>

